.MButtonWrapper {
    display: inline-block;
    padding: 0 32px;
    border-radius: 15px;
    height: 28px;
    line-height: 28px;
    &.active {
        filter: invert(100);
    }
    &.rectangular {
        padding: 0;
        border-radius: 0;
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 100%;
    }
}