.MTitleWith4Pic {
    text-align: center;
    padding-top: 57px;
}
.MTitleWith4PicMainTitle {
    padding-bottom: 40px;
}
.MTitleWith4PicWrapper {
    padding: 14px 14px 40px 14px;
}
.MTitleWith4PicImage {
    padding: 32px 20px 15px;
}